---
---

<html lang="en" class="h-full">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>astro nginx docker</title>
	</head>
	<body class="flex flex-col items-center justify-center h-full bg-purple-100">
		<h1 class="text-purple-800 font-medium text-lg font-mono">Hey Dude 👋</h1>
		<a href="/A/"><button class="p-3 bg-slate-300 mb-6">GO TO PAGE A!</button></a>
		<a href="/B/"><button class="p-3 bg-slate-300">GO TO PAGE B!</button></a>
	</body>
</html>
